* {
	margin: 0;
	padding: 0;
}
body{
	background: #f3f1ed;
	background-image: none;
	background-attachment: scroll ;
	background-repeat: repeat;
	background-position: 0% 0%;
	color: #666;
	font-family:微软雅黑;
	font-size: 12px;
	height: 100%;
    line-height: 20px;
}
.div0{
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 960px;
}
.div1{
	position: absolute;
	top: 30px;
	left: 60px;
	background:#ffffff;

	
}
.div2{
	background: #A01C20;
    height: 48px;
    width: 100%;
    line-height: 48px;
    position: absolute;
    top: 120px;
}
.div4::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.div3{
	background: #ffffff;
	height: 120px;
}
ul{
	color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    height: 48px;
    list-style:none;
    width: 1001px;
    margin: 0;
    padding: 0;
    line-height: 48px;
    position: absolute;
    left: 200px;
}
ul li{
	float: left;
    font-family: 微软雅黑;
    list-style:none;
    margin-left: -1px;
    position: relative;
    width: 144px;
}
.ul2{
	position: absolute;
	left: 60px;
}
.wenzi{
	text-decoration: none;
	color: #ffffff;
	background: rgba(0, 0, 0, 0) url("img/nav-line.gif") 
    no-repeat scroll right center;
    padding: 10 48 10 48;
}
.div4 ul li a:hover {
    color: #fffffff;
    text-decoration:underline;
    background:#751413;
    height: 48px;
    padding: 10 48 10 48;
}
.div4{
	display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 960px
}
ul li a{
	text-align: center;
}
.div5{
	height: 20px;
    line-height: 20px;
    margin-bottom: 28px;
	position: absolute;
	top: 500px;
	left: 100px;
}
.div6{    
    color:gray;
    float: left;
    font-size: 20px;
    font-weight: normal;	
}
h3{
	position: absolute;
	top: -400px;
}
h4{
	position: absolute;
	top: 80px;
}
h5{
	position: absolute;
	top: 50px;
	left: -200px;
}

.div8 {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.div9 {
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.ul1 {
    margin-bottom: 10px;
    position: relative;
    width: 1000px;
    display: block;
    list-style-type: none;
}
.li4{
	height: 140px;
    margin: 5px 20px 20px 5px;
    width: 174px;
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: -1px 0 1px #fff, 2px 0 2px 
    rgba(199, 199, 198, 1), 0 -1.5px 1.5px #fff, 0 2px 2px 
    rgba(199, 199, 198, 1);
    float: left;
    list-style-type: none;
    border:solid 1px transparent;
     
}
.outer {
    display: block;
    overflow: hidden;
    z-index: 1;
    color: #333
}
.lk{
    height: 90px;
    width: 174px;
    border-radius: 5px; 

}
.ka{
	height: 70px;
    padding: 7px 4px 0;
    position: relative;
    z-index: 2;
}
.g{
	float: left;
    height: 13px;
    line-height: 10px;
    position: relative;
    width: 170px;
    font-size: large;
}
.k{
	color: #c3c0bb;
    font-size: 10.5px;
    height: 20px;
    line-height: 20px
}
.ss{
	margin-right: 15px;
	float: left;
}
.eye{
	float: left;
}
.li4:hover{
	border:solid 1px #F00; 

}



